@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
width: 100%;
max-width: 425px;
}

.pokemon__image{
    position: absolute;
    bottom: 40%;
    left: 30%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon__data{
    position: absolute;
    font-weight: 600;
    color: #000;
    top: 30.5%;
    right: 10%;
    font-size: 15px;
}

.pokemon__name{
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 30%;
    top: 40.5%;
    right: 11%;
    font-size: 15px;
}

.input__search{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600px;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
}

.buttons{
    position: absolute;
    bottom: 20%;
    left: 80%;
    width: 65%;
    transform: translate(-57%, 0);
}

button{
    width: 50%;
    border: 2px solid #000;
}

.button:active{
    background-color: red;
}